:root {
	--one: red;
	--two: blue;
	--sidebar-width: 300px;
	--sidebar-offset: var(--sidebar-width);
	--background: black;
	--text: white;
	--highlight: grey;
	--transition-duration: 0.5s;
}

@media (prefers-color-scheme: light) {
	:root {
		--background: white;
		--text: black;
		--highlight: darkgrey;
	}
}

.debug-tile {
	text-shadow: -1px -1px 0 var(--highlight), 1px -1px 0 var(--highlight), 1px 1px 0 var(--highlight), -1px 1px 0 var(--highlight);
}

.beppie {
	outline: 1px solid var(--one, red);
}

.beppoe {
	outline: 1px solid var(--two, blue);
}

html, body {
	margin: 0;
	background: var(--background);
	color: var(--text);
}

#sidebar {
	width: calc(max(var(--sidebar-width), var(--sidebar-offset)) - 25px);
	padding: 15px 10px 0 15px;
	left: min(calc(var(--sidebar-offset) - var(--sidebar-width)), 0px);
	position: absolute;
	background: var(--background);
	top: 0;
	bottom: 0;
	z-index: 1;
	transition: var(--transition-duration);
	overflow-y: auto;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
}

#sidebar::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

#hide-sidebar {
	position: absolute;
	left: var(--sidebar-offset);
	background: var(--background);
	transition: var(--transition-duration);
}

#toggle-sidebar {
  display: none;
}

#toggle-sidebar:checked ~ #sidebar,
#toggle-sidebar:checked ~ #map,
#toggle-sidebar:checked ~ label {
  --sidebar-offset: 0px;
}

#toggle-sidebar:checked ~ #map {
  transition-delay: 1ms;
}

.toggle-sidebar-label {
  width: 1em;
  height: 1em;
  background-color: var(--background);
  position: absolute;
  z-index: 2;
  left: var(--sidebar-offset);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-duration);
  cursor: pointer;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--sidebar-offset);
	right: 0;
	z-index: -1;
	outline: none;
	transition-delay: var(--transition-duration);
}

.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 80%; /* Full-width */
	height: 20px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	/*outline: none; /* Remove outline */
	margin: 0% 10%;
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  /*width: 25px; /* Set a specific slider handle width */
  /*height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  /*width: 25px; /* Set a specific slider handle width */
 /* height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
